<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username" />
      <mat-error *ngIf="registerForm.get('username')?.invalid">You must enter a username</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="registerForm.get('email')?.invalid">You must enter an email</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="registerForm.get('password')?.invalid">You must enter a password</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select matInput formControlName="roleId">
            <mat-option *ngFor="let role of roles" [value]="role.id">{{role.title}}</mat-option>
        </mat-select>
    </mat-form-field>
  </p>

  <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit">Register</button>
</form>
